form(action="/new" method="POST")
    label(for="author-name") Name:
    input(type="text" name="authorName" id="author-name")
    br
    label(for="message") Message:
    input(type="text" name="message" id="message")
    br
    button(type="submit") Submit