form(action="/new" method="POST")
    label(for="author-name") Name:
    input(type="text" name="author-name" id="author-name")
    
    label(for="message") Message:
    input(type="text" name="message" id="message")
    
    button(type="submit") Submit