extends layout

block content
  h1= title
  a(href="/new") Add New Message
  ul
    each message in messages
      li
        | User: #{message.user}
        br
        each line in message.text.split('\n')
          p= line
        br
        | Date: #{message.added}


