html{
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

ul{
  list-style: none;
}

li{
  margin-top: 20px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 8px;
}


